// Code generated by Fern. DO NOT EDIT.

package invoice

import (
	context "context"
	os "os"

	payabli "github.com/payabli/sdk-go"
	core "github.com/payabli/sdk-go/core"
	internal "github.com/payabli/sdk-go/internal"
	option "github.com/payabli/sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.ClientID == "" {
		options.ClientID = os.Getenv("OAUTH_CLIENT_ID")
	}
	if options.ClientSecret == "" {
		options.ClientSecret = os.Getenv("OAUTH_CLIENT_SECRET")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Creates an invoice in an entrypoint.
//
// Example:
//
//	request := &payabli.AddInvoiceRequest{
//	    Body: &payabli.InvoiceDataRequest{
//	        CustomerData: &payabli.PayorDataRequest{
//	            CustomerNumber: payabli.String(
//	                "C-90010",
//	            ),
//	            FirstName: payabli.String(
//	                "Tamara",
//	            ),
//	            LastName: payabli.String(
//	                "Bagratoni",
//	            ),
//	        },
//	        InvoiceData: &payabli.BillData{
//	            Discount: payabli.Float64(
//	                10,
//	            ),
//	            Frequency: payabli.FrequencyOneTime.Ptr(),
//	            InvoiceAmount: payabli.Float64(
//	                1082.37,
//	            ),
//	            InvoiceDate: payabli.Time(
//	                payabli.MustParseDate(
//	                    "2025-10-19",
//	                ),
//	            ),
//	            InvoiceNumber: payabli.String(
//	                "INV-2345",
//	            ),
//	            InvoiceStatus: payabli.Int(
//	                1,
//	            ),
//	            InvoiceType: payabli.Int(
//	                0,
//	            ),
//	            Items: []*payabli.BillItem{
//	                &payabli.BillItem{
//	                    ItemCost: payabli.Float64(
//	                        100,
//	                    ),
//	                    ItemDescription: payabli.String(
//	                        "Consultation for Georgian tours",
//	                    ),
//	                    ItemMode: payabli.Int(
//	                        2,
//	                    ),
//	                    ItemProductName: payabli.String(
//	                        "Adventure Consult",
//	                    ),
//	                    ItemQty: payabli.Int(
//	                        2,
//	                    ),
//	                    ItemTotalAmount: payabli.Float64(
//	                        200,
//	                    ),
//	                },
//	                &payabli.BillItem{
//	                    ItemCost: payabli.Float64(
//	                        882.37,
//	                    ),
//	                    ItemDescription: payabli.String(
//	                        "Deposit for trip planning",
//	                    ),
//	                    ItemMode: payabli.Int(
//	                        2,
//	                    ),
//	                    ItemProductName: payabli.String(
//	                        "Deposit ",
//	                    ),
//	                    ItemQty: payabli.Int(
//	                        1,
//	                    ),
//	                    ItemTotalAmount: payabli.Float64(
//	                        882.37,
//	                    ),
//	                },
//	            },
//	        },
//	    },
//	}
//	client.Invoice.AddInvoice(
//	    context.TODO(),
//	    "8cfec329267",
//	    request,
//	)
func (c *Client) AddInvoice(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	request *payabli.AddInvoiceRequest,
	opts ...option.RequestOption,
) (*payabli.InvoiceResponseWithoutData, error) {
	response, err := c.WithRawResponse.AddInvoice(
		ctx,
		entry,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a file attached to an invoice.
//
// Example:
//
//	request := &payabli.GetAttachedFileFromInvoiceRequest{}
//	client.Invoice.GetAttachedFileFromInvoice(
//	    context.TODO(),
//	    1,
//	    "filename",
//	    request,
//	)
func (c *Client) GetAttachedFileFromInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	// The filename in Payabli. Get this from the `zipName` field
	// in the `DocumentsRef.filelist` array returned by
	// `/api/Invoice/{idInvoice}`. Example: `0_Bill.pdf`.
	filename string,
	request *payabli.GetAttachedFileFromInvoiceRequest,
	opts ...option.RequestOption,
) (*payabli.FileContent, error) {
	response, err := c.WithRawResponse.GetAttachedFileFromInvoice(
		ctx,
		idInvoice,
		filename,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a file attached to an invoice.
//
// Example:
//
//	client.Invoice.DeleteAttachedFromInvoice(
//	    context.TODO(),
//	    23548884,
//	    "0_Bill.pdf",
//	)
func (c *Client) DeleteAttachedFromInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	// The filename in Payabli. Get this from the `zipName` field
	// in the `DocumentsRef.filelist` array returned by
	// `/api/Invoice/{idInvoice}`. Example: `0_Bill.pdf`.
	filename string,
	opts ...option.RequestOption,
) (*payabli.InvoiceResponseWithoutData, error) {
	response, err := c.WithRawResponse.DeleteAttachedFromInvoice(
		ctx,
		idInvoice,
		filename,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a single invoice by ID.
//
// Example:
//
//	client.Invoice.GetInvoice(
//	    context.TODO(),
//	    23548884,
//	)
func (c *Client) GetInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	opts ...option.RequestOption,
) (*payabli.GetInvoiceRecord, error) {
	response, err := c.WithRawResponse.GetInvoice(
		ctx,
		idInvoice,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates details for a single invoice in an entrypoint.
//
// Example:
//
//	request := &payabli.EditInvoiceRequest{
//	    Body: &payabli.InvoiceDataRequest{
//	        InvoiceData: &payabli.BillData{
//	            InvoiceAmount: payabli.Float64(
//	                982.37,
//	            ),
//	            InvoiceDate: payabli.Time(
//	                payabli.MustParseDate(
//	                    "2025-10-19",
//	                ),
//	            ),
//	            InvoiceNumber: payabli.String(
//	                "INV-2345",
//	            ),
//	            Items: []*payabli.BillItem{
//	                &payabli.BillItem{
//	                    ItemCost: payabli.Float64(
//	                        882.37,
//	                    ),
//	                    ItemDescription: payabli.String(
//	                        "Deposit for trip planning",
//	                    ),
//	                    ItemProductName: payabli.String(
//	                        "Deposit",
//	                    ),
//	                    ItemQty: payabli.Int(
//	                        1,
//	                    ),
//	                },
//	            },
//	        },
//	    },
//	}
//	client.Invoice.EditInvoice(
//	    context.TODO(),
//	    23548884,
//	    request,
//	)
func (c *Client) EditInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	request *payabli.EditInvoiceRequest,
	opts ...option.RequestOption,
) (*payabli.InvoiceResponseWithoutData, error) {
	response, err := c.WithRawResponse.EditInvoice(
		ctx,
		idInvoice,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a single invoice from an entrypoint.
//
// Example:
//
//	client.Invoice.DeleteInvoice(
//	    context.TODO(),
//	    23548884,
//	)
func (c *Client) DeleteInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	opts ...option.RequestOption,
) (*payabli.InvoiceResponseWithoutData, error) {
	response, err := c.WithRawResponse.DeleteInvoice(
		ctx,
		idInvoice,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves the next available invoice number for a paypoint.
//
// Example:
//
//	client.Invoice.GetInvoiceNumber(
//	    context.TODO(),
//	    "8cfec329267",
//	)
func (c *Client) GetInvoiceNumber(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	opts ...option.RequestOption,
) (*payabli.InvoiceNumberResponse, error) {
	response, err := c.WithRawResponse.GetInvoiceNumber(
		ctx,
		entry,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a list of invoices for an entrypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
//
// Example:
//
//	request := &payabli.ListInvoicesRequest{
//	    FromRecord: payabli.Int(
//	        251,
//	    ),
//	    LimitRecord: payabli.Int(
//	        0,
//	    ),
//	    SortBy: payabli.String(
//	        "desc(field_name)",
//	    ),
//	}
//	client.Invoice.ListInvoices(
//	    context.TODO(),
//	    "8cfec329267",
//	    request,
//	)
func (c *Client) ListInvoices(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	request *payabli.ListInvoicesRequest,
	opts ...option.RequestOption,
) (*payabli.QueryInvoiceResponse, error) {
	response, err := c.WithRawResponse.ListInvoices(
		ctx,
		entry,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a list of invoices for an org. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
//
// Example:
//
//	request := &payabli.ListInvoicesOrgRequest{
//	    FromRecord: payabli.Int(
//	        251,
//	    ),
//	    LimitRecord: payabli.Int(
//	        0,
//	    ),
//	    SortBy: payabli.String(
//	        "desc(field_name)",
//	    ),
//	}
//	client.Invoice.ListInvoicesOrg(
//	    context.TODO(),
//	    123,
//	    request,
//	)
func (c *Client) ListInvoicesOrg(
	ctx context.Context,
	// The numeric identifier for organization, assigned by Payabli.
	orgId int,
	request *payabli.ListInvoicesOrgRequest,
	opts ...option.RequestOption,
) (*payabli.QueryInvoiceResponse, error) {
	response, err := c.WithRawResponse.ListInvoicesOrg(
		ctx,
		orgId,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Sends an invoice from an entrypoint via email.
//
// Example:
//
//	request := &payabli.SendInvoiceRequest{
//	    Attachfile: payabli.Bool(
//	        true,
//	    ),
//	    Mail2: payabli.String(
//	        "tamara@example.com",
//	    ),
//	}
//	client.Invoice.SendInvoice(
//	    context.TODO(),
//	    23548884,
//	    request,
//	)
func (c *Client) SendInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	request *payabli.SendInvoiceRequest,
	opts ...option.RequestOption,
) (*payabli.SendInvoiceResponse, error) {
	response, err := c.WithRawResponse.SendInvoice(
		ctx,
		idInvoice,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Export a single invoice in PDF format.
//
// Example:
//
//	client.Invoice.GetInvoicePdf(
//	    context.TODO(),
//	    23548884,
//	)
func (c *Client) GetInvoicePdf(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	opts ...option.RequestOption,
) (payabli.File, error) {
	response, err := c.WithRawResponse.GetInvoicePdf(
		ctx,
		idInvoice,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
