// Code generated by Fern. DO NOT EDIT.

package invoice

import (
	context "context"
	payabli "github.com/payabli/sdk-go"
	core "github.com/payabli/sdk-go/core"
	internal "github.com/payabli/sdk-go/internal"
	option "github.com/payabli/sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Creates an invoice in an entrypoint.
func (c *Client) AddInvoice(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	request *payabli.AddInvoiceRequest,
	opts ...option.RequestOption,
) (*payabli.InvoiceResponseWithoutData, error) {
	response, err := c.WithRawResponse.AddInvoice(
		ctx,
		entry,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes an invoice that's attached to a file.
func (c *Client) DeleteAttachedFromInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	// The filename in Payabli. Filename is `zipName` in response to a request to `/api/Invoice/{idInvoice}`. Here, the filename is `0_Bill.pdf``.
	// "DocumentsRef": {
	//   "zipfile": "inva_269.zip",
	//   "filelist": [
	//     {
	//       "originalName": "Bill.pdf",
	//       "zipName": "0_Bill.pdf",
	//       "descriptor": null
	//     }
	//   ]
	// }
	filename string,
	opts ...option.RequestOption,
) (*payabli.InvoiceResponseWithoutData, error) {
	response, err := c.WithRawResponse.DeleteAttachedFromInvoice(
		ctx,
		idInvoice,
		filename,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a single invoice from an entrypoint.
func (c *Client) DeleteInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	opts ...option.RequestOption,
) (*payabli.InvoiceResponseWithoutData, error) {
	response, err := c.WithRawResponse.DeleteInvoice(
		ctx,
		idInvoice,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates details for a single invoice in an entrypoint.
func (c *Client) EditInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	request *payabli.EditInvoiceRequest,
	opts ...option.RequestOption,
) (*payabli.InvoiceResponseWithoutData, error) {
	response, err := c.WithRawResponse.EditInvoice(
		ctx,
		idInvoice,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a file attached to an invoice.
func (c *Client) GetAttachedFileFromInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	// The filename in Payabli. Filename is `zipName` in the response to a request to `/api/Invoice/{idInvoice}`. Here, the filename is `0_Bill.pdf``.
	// ```
	//   "DocumentsRef": {
	//     "zipfile": "inva_269.zip",
	//     "filelist": [
	//       {
	//         "originalName": "Bill.pdf",
	//         "zipName": "0_Bill.pdf",
	//         "descriptor": null
	//       }
	//     ]
	//   }
	//   ```
	filename string,
	request *payabli.GetAttachedFileFromInvoiceRequest,
	opts ...option.RequestOption,
) (*payabli.FileContent, error) {
	response, err := c.WithRawResponse.GetAttachedFileFromInvoice(
		ctx,
		idInvoice,
		filename,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a single invoice by ID.
func (c *Client) GetInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	opts ...option.RequestOption,
) (*payabli.GetInvoiceRecord, error) {
	response, err := c.WithRawResponse.GetInvoice(
		ctx,
		idInvoice,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves the next available invoice number for a paypoint.
func (c *Client) GetInvoiceNumber(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	opts ...option.RequestOption,
) (*payabli.InvoiceNumberResponse, error) {
	response, err := c.WithRawResponse.GetInvoiceNumber(
		ctx,
		entry,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a list of invoices for an entrypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
func (c *Client) ListInvoices(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	request *payabli.ListInvoicesRequest,
	opts ...option.RequestOption,
) (*payabli.QueryInvoiceResponse, error) {
	response, err := c.WithRawResponse.ListInvoices(
		ctx,
		entry,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns a list of invoices for an org. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
func (c *Client) ListInvoicesOrg(
	ctx context.Context,
	// The numeric identifier for organization, assigned by Payabli.
	orgId int,
	request *payabli.ListInvoicesOrgRequest,
	opts ...option.RequestOption,
) (*payabli.QueryInvoiceResponse, error) {
	response, err := c.WithRawResponse.ListInvoicesOrg(
		ctx,
		orgId,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Sends an invoice from an entrypoint via email.
func (c *Client) SendInvoice(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	request *payabli.SendInvoiceRequest,
	opts ...option.RequestOption,
) (*payabli.SendInvoiceResponse, error) {
	response, err := c.WithRawResponse.SendInvoice(
		ctx,
		idInvoice,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Export a single invoice in PDF format.
func (c *Client) GetInvoicePdf(
	ctx context.Context,
	// Invoice ID
	idInvoice int,
	opts ...option.RequestOption,
) (payabli.File, error) {
	response, err := c.WithRawResponse.GetInvoicePdf(
		ctx,
		idInvoice,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
