// Code generated by Fern. DO NOT EDIT.

package moneyout

import (
	context "context"
	payabli "github.com/payabli/sdk-go"
	core "github.com/payabli/sdk-go/core"
	internal "github.com/payabli/sdk-go/internal"
	option "github.com/payabli/sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Authorizes transaction for payout.  If you don't pass the `autoCapture` field with a value of `true`, authorized transactions aren't flagged for settlement until captured.  Use `referenceId` returned in the response to capture the transaction.
func (c *Client) AuthorizeOut(
	ctx context.Context,
	request *payabli.MoneyOutTypesRequestOutAuthorize,
	opts ...option.RequestOption,
) (*payabli.AuthCapturePayoutResponse, error) {
	response, err := c.WithRawResponse.AuthorizeOut(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Cancels an array of payout transactions.
func (c *Client) CancelAllOut(
	ctx context.Context,
	request []string,
	opts ...option.RequestOption,
) (*payabli.CaptureAllOutResponse, error) {
	response, err := c.WithRawResponse.CancelAllOut(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Cancel a payout transaction by ID.
func (c *Client) CancelOutGet(
	ctx context.Context,
	// The ID for the payout transaction.
	referenceID string,
	opts ...option.RequestOption,
) (*payabli.PayabliAPIResponse0000, error) {
	response, err := c.WithRawResponse.CancelOutGet(
		ctx,
		referenceID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Cancel a payout transaction by ID.
func (c *Client) CancelOutDelete(
	ctx context.Context,
	// The ID for the payout transaction.
	referenceID string,
	opts ...option.RequestOption,
) (*payabli.PayabliAPIResponse0000, error) {
	response, err := c.WithRawResponse.CancelOutDelete(
		ctx,
		referenceID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Captures an array of authorized payout transactions for settlement. The maximum number of transactions that can be captured in a single request is 500.
func (c *Client) CaptureAllOut(
	ctx context.Context,
	request *payabli.CaptureAllOutRequest,
	opts ...option.RequestOption,
) (*payabli.CaptureAllOutResponse, error) {
	response, err := c.WithRawResponse.CaptureAllOut(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Captures a single authorized payout transaction by ID. If the transaction was authorized with `autoCapture` set to `true`,  you don't need to call this endpoint to capture the transaction for processing.
func (c *Client) CaptureOut(
	ctx context.Context,
	// The ID for the payout transaction.
	referenceID string,
	request *payabli.CaptureOutRequest,
	opts ...option.RequestOption,
) (*payabli.AuthCapturePayoutResponse, error) {
	response, err := c.WithRawResponse.CaptureOut(
		ctx,
		referenceID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Returns details for a processed money out transaction.
func (c *Client) PayoutDetails(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transID string,
	opts ...option.RequestOption,
) (*payabli.BillDetailResponse, error) {
	response, err := c.WithRawResponse.PayoutDetails(
		ctx,
		transID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves vCard details for a single card in an entrypoint.
func (c *Client) VCardGet(
	ctx context.Context,
	// ID for a virtual card.
	cardToken string,
	opts ...option.RequestOption,
) (*payabli.VCardGetResponse, error) {
	response, err := c.WithRawResponse.VCardGet(
		ctx,
		cardToken,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Sends a virtual card link via email to the vendor associated with the `transId`.
func (c *Client) SendVCardLink(
	ctx context.Context,
	request *payabli.SendVCardLinkRequest,
	opts ...option.RequestOption,
) (*payabli.OperationResult, error) {
	response, err := c.WithRawResponse.SendVCardLink(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve the image of a check associated with a processed transaction.
// The check image is returned in the response body as a base64-encoded string.
// The check image is only available for payouts that have been processed.
func (c *Client) GetCheckImage(
	ctx context.Context,
	// Name of the check asset to retrieve. This is returned as `filename` in the `CheckData` object
	// in the response when you make a GET request to `/MoneyOut/details/{transId}`.
	// ```
	//     "CheckData": {
	//       "ftype": "PDF",
	//       "filename": "check133832686289732320_01JKBNZ5P32JPTZY8XXXX000000.pdf",
	//       "furl": "",
	//       "fContent": ""
	//   }
	// ```
	assetName string,
	opts ...option.RequestOption,
) (string, error) {
	response, err := c.WithRawResponse.GetCheckImage(
		ctx,
		assetName,
		opts...,
	)
	if err != nil {
		return "", err
	}
	return response.Body, nil
}

// Updates the status of a processed check payment transaction. This endpoint handles the status transition, updates related bills, creates audit events, and triggers notifications.
//
// The transaction must meet all of the following criteria:
// - **Status**: Must be in Processing or Processed status.
// - **Payment method**: Must be a check payment method.
//
// ### Allowed status values
//
// | Value | Status | Description |
// |-------|--------|-------------|
// | `0` | Cancelled/Voided | Cancels the check transaction. Reverts associated bills to their previous state (Approved or Active), creates "Cancelled" events, and sends a `payout_transaction_voidedcancelled` notification if the notification is enabled. |
// | `5` | Paid | Marks the check transaction as paid. Updates associated bills to "Paid" status, creates "Paid" events, and sends a `payout_transaction_paid` notification if the notification is enabled. |
func (c *Client) UpdateCheckPaymentStatus(
	ctx context.Context,
	// The Payabli transaction ID for the check payment.
	transID string,
	// The new status to apply to the check transaction. To mark a check as `Paid`, send 5. To mark a check as `Cancelled`, send 0.
	checkPaymentStatus *payabli.AllowedCheckPaymentStatus,
	opts ...option.RequestOption,
) (*payabli.PayabliAPIResponse00Responsedatanonobject, error) {
	response, err := c.WithRawResponse.UpdateCheckPaymentStatus(
		ctx,
		transID,
		checkPaymentStatus,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Reissues a payout transaction with a new payment method. This creates a new transaction linked to the original and marks the original transaction as reissued.
//
// The original transaction must be in **Processing** or **Processed** status. The payment method in the request body is used directly. The endpoint doesn't fall back to vendor-managed payment methods.
//
// The new transaction goes through the standard authorize-and-capture flow automatically. Both the original and new transactions are linked through their event histories for audit purposes.
func (c *Client) ReissueOut(
	ctx context.Context,
	request *payabli.ReissueOutRequest,
	opts ...option.RequestOption,
) (*payabli.ReissuePayoutResponse, error) {
	response, err := c.WithRawResponse.ReissueOut(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
