// Code generated by Fern. DO NOT EDIT.

package paypoint

import (
	context "context"
	os "os"

	payabli "github.com/payabli/sdk-go"
	core "github.com/payabli/sdk-go/core"
	internal "github.com/payabli/sdk-go/internal"
	option "github.com/payabli/sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.ClientID == "" {
		options.ClientID = os.Getenv("OAUTH_CLIENT_ID")
	}
	if options.ClientSecret == "" {
		options.ClientSecret = os.Getenv("OAUTH_CLIENT_SECRET")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Gets the basic details for a paypoint.
//
// Example:
//
//	client.Paypoint.GetBasicEntry(
//	    context.TODO(),
//	    "8cfec329267",
//	)
func (c *Client) GetBasicEntry(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	opts ...option.RequestOption,
) (*payabli.GetBasicEntryResponse, error) {
	response, err := c.WithRawResponse.GetBasicEntry(
		ctx,
		entry,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves the basic details for a paypoint by ID.
//
// Example:
//
//	client.Paypoint.GetBasicEntryById(
//	    context.TODO(),
//	    "198",
//	)
func (c *Client) GetBasicEntryById(
	ctx context.Context,
	// Paypoint ID. You can find this value by querying `/api/Query/paypoints/{orgId}`
	idPaypoint string,
	opts ...option.RequestOption,
) (*payabli.GetBasicEntryByIdResponse, error) {
	response, err := c.WithRawResponse.GetBasicEntryById(
		ctx,
		idPaypoint,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a paypoint logo.
//
// Example:
//
//	request := &payabli.FileContent{}
//	client.Paypoint.SaveLogo(
//	    context.TODO(),
//	    "8cfec329267",
//	    request,
//	)
func (c *Client) SaveLogo(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	request *payabli.FileContent,
	opts ...option.RequestOption,
) (*payabli.PayabliApiResponse00Responsedatanonobject, error) {
	response, err := c.WithRawResponse.SaveLogo(
		ctx,
		entry,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Migrates a paypoint to a new parent organization.
//
// Example:
//
//	request := &payabli.PaypointMoveRequest{
//	    EntryPoint: "8cfec329267",
//	    NewParentOrganizationId: 123,
//	    NotificationRequest: &payabli.NotificationRequest{
//	        NotificationUrl: "https://webhook-test.yoursie.com",
//	        WebHeaderParameters: []*payabli.WebHeaderParameter{
//	            &payabli.WebHeaderParameter{
//	                Key: "testheader",
//	                Value: "1234567890",
//	            },
//	        },
//	    },
//	}
//	client.Paypoint.Migrate(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Migrate(
	ctx context.Context,
	request *payabli.PaypointMoveRequest,
	opts ...option.RequestOption,
) (*payabli.MigratePaypointResponse, error) {
	response, err := c.WithRawResponse.Migrate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves a paypoint's basic settings like custom fields, identifiers, and invoicing settings.
//
// Example:
//
//	client.Paypoint.SettingsPage(
//	    context.TODO(),
//	    "8cfec329267",
//	)
func (c *Client) SettingsPage(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	opts ...option.RequestOption,
) (*payabli.SettingsQueryRecord, error) {
	response, err := c.WithRawResponse.SettingsPage(
		ctx,
		entry,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Gets the details for a single paypoint.
//
// Example:
//
//	request := &payabli.GetEntryConfigRequest{}
//	client.Paypoint.GetEntryConfig(
//	    context.TODO(),
//	    "8cfec329267",
//	    request,
//	)
func (c *Client) GetEntryConfig(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	request *payabli.GetEntryConfigRequest,
	opts ...option.RequestOption,
) (*payabli.GetEntryConfigResponse, error) {
	response, err := c.WithRawResponse.GetEntryConfig(
		ctx,
		entry,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Gets the details for a single payment page for a paypoint.
//
// Example:
//
//	client.Paypoint.GetPage(
//	    context.TODO(),
//	    "8cfec329267",
//	    "pay-your-fees-1",
//	)
func (c *Client) GetPage(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	// Payment page identifier. The subdomain value is the last portion of the payment page URL. For example, in `https://paypages-sandbox.payabli.com/513823dc10/pay-your-fees-1`, the subdomain is `pay-your-fees-1`.
	subdomain string,
	opts ...option.RequestOption,
) (*payabli.PayabliPages, error) {
	response, err := c.WithRawResponse.GetPage(
		ctx,
		entry,
		subdomain,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a payment page in a paypoint.
//
// Example:
//
//	client.Paypoint.RemovePage(
//	    context.TODO(),
//	    "8cfec329267",
//	    "pay-your-fees-1",
//	)
func (c *Client) RemovePage(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	// Payment page identifier. The subdomain value is the last portion of the payment page URL. For example, in `https://paypages-sandbox.payabli.com/513823dc10/pay-your-fees-1`, the subdomain is `pay-your-fees-1`.
	subdomain string,
	opts ...option.RequestOption,
) (*payabli.PayabliApiResponseGeneric2Part, error) {
	response, err := c.WithRawResponse.RemovePage(
		ctx,
		entry,
		subdomain,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
