// Code generated by Fern. DO NOT EDIT.

package paypoint

import (
	context "context"
	sdk "github.com/payabli/sdk-go"
	core "github.com/payabli/sdk-go/core"
	internal "github.com/payabli/sdk-go/internal"
	option "github.com/payabli/sdk-go/option"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	return &Client{
		WithRawResponse: NewRawClient(options),
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// Gets the basic details for a paypoint.
func (c *Client) GetBasicEntry(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	opts ...option.RequestOption,
) (*sdk.GetBasicEntryResponse, error) {
	response, err := c.WithRawResponse.GetBasicEntry(
		ctx,
		entry,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves the basic details for a paypoint by ID.
func (c *Client) GetBasicEntryById(
	ctx context.Context,
	// Paypoint ID. You can find this value by querying `/api/Query/paypoints/{orgId}`
	idPaypoint string,
	opts ...option.RequestOption,
) (*sdk.GetBasicEntryByIdResponse, error) {
	response, err := c.WithRawResponse.GetBasicEntryById(
		ctx,
		idPaypoint,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Gets the details for a single paypoint.
func (c *Client) GetEntryConfig(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	request *sdk.GetEntryConfigRequest,
	opts ...option.RequestOption,
) (*sdk.GetEntryConfigResponse, error) {
	response, err := c.WithRawResponse.GetEntryConfig(
		ctx,
		entry,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Gets the details for single payment page for a paypoint.
func (c *Client) GetPage(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	// Payment page identifier. The subdomain value is the last portion of the payment page URL. For example, in`https://paypages-sandbox.payabli.com/513823dc10/pay-your-fees-1`, the subdomain is `pay-your-fees-1`.
	subdomain string,
	opts ...option.RequestOption,
) (*sdk.PayabliPages, error) {
	response, err := c.WithRawResponse.GetPage(
		ctx,
		entry,
		subdomain,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Deletes a payment page in a paypoint.
func (c *Client) RemovePage(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	// Payment page identifier. The subdomain value is the last portion of the payment page URL. For example, in`https://paypages-sandbox.payabli.com/513823dc10/pay-your-fees-1`, the subdomain is `pay-your-fees-1`.
	subdomain string,
	opts ...option.RequestOption,
) (*sdk.PayabliApiResponseGeneric2Part, error) {
	response, err := c.WithRawResponse.RemovePage(
		ctx,
		entry,
		subdomain,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Updates a paypoint logo.
func (c *Client) SaveLogo(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	request *sdk.FileContent,
	opts ...option.RequestOption,
) (*sdk.PayabliApiResponse00Responsedatanonobject, error) {
	response, err := c.WithRawResponse.SaveLogo(
		ctx,
		entry,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieves an paypoint's basic settings like custom fields, identifiers, and invoicing settings.
func (c *Client) SettingsPage(
	ctx context.Context,
	// The paypoint's entrypoint identifier. [Learn more](/api-reference/api-overview#entrypoint-vs-entry)
	entry string,
	opts ...option.RequestOption,
) (*sdk.SettingsQueryRecord, error) {
	response, err := c.WithRawResponse.SettingsPage(
		ctx,
		entry,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Migrates a paypoint to a new parent organization.
func (c *Client) Migrate(
	ctx context.Context,
	request *sdk.PaypointMoveRequest,
	opts ...option.RequestOption,
) (*sdk.MigratePaypointResponse, error) {
	response, err := c.WithRawResponse.Migrate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
