// Code generated by Fern. DO NOT EDIT.

package moneyin

import (
	context "context"
	os "os"

	payabli "github.com/payabli/sdk-go"
	core "github.com/payabli/sdk-go/core"
	internal "github.com/payabli/sdk-go/internal"
	option "github.com/payabli/sdk-go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.ClientID == "" {
		options.ClientID = os.Getenv("OAUTH_CLIENT_ID")
	}
	if options.ClientSecret == "" {
		options.ClientSecret = os.Getenv("OAUTH_CLIENT_SECRET")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// <Warning>
//
//	This endpoint is deprecated. New integrations should use the [Authorize endpoint](/developers/api-reference/moneyinV2/authorize-a-transaction), then capture, void, or refund the resulting transaction with the corresponding endpoints. Transactions created with this legacy endpoint must be managed with the legacy lifecycle endpoints — they aren't interchangeable with the current ones.
//
// </Warning>
//
// Authorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren't flagged for settlement until [captured](/developers/api-reference/moneyin/capture-an-authorized-transaction).
//
// Only card transactions can be authorized. This endpoint can't be used for ACH transactions.
//
// Example:
//
//	request := &payabli.RequestPaymentAuthorize{
//	    Body: &payabli.TransRequestBody{
//	        PaymentDetails: &payabli.PaymentDetail{
//	            TotalAmount: 1.1,
//	        },
//	        PaymentMethod: &payabli.PaymentMethod{
//	            PayMethodCredit: &payabli.PayMethodCredit{
//	                Cardexp: "cardexp",
//	                Cardnumber: "cardnumber",
//	                Method: payabli.PayMethodCreditMethodCard,
//	            },
//	        },
//	    },
//	}
//	client.MoneyIn.Authorize(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Authorize(
	ctx context.Context,
	request *payabli.RequestPaymentAuthorize,
	opts ...option.RequestOption,
) (*payabli.AuthResponse, error) {
	response, err := c.WithRawResponse.Authorize(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// <Warning>
//
//	This endpoint is deprecated. Use [POST `/capture/{transId}`](/developers/api-reference/moneyin/capture-an-authorized-transaction) instead, which supports partial captures and service fee adjustments.
//
// </Warning>
//
//	Capture an [authorized
//
// transaction](/developers/api-reference/moneyin/authorize-a-transaction) to complete the transaction and move funds from the customer to merchant account.
//
// Example:
//
//	client.MoneyIn.Capture(
//	    context.TODO(),
//	    "transId",
//	    1.1,
//	)
func (c *Client) Capture(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	// Amount to be captured. The amount can't be greater the original total amount of the transaction. `0` captures the total amount authorized in the transaction. Partial captures aren't supported.
	amount float64,
	opts ...option.RequestOption,
) (*payabli.CaptureResponse, error) {
	response, err := c.WithRawResponse.Capture(
		ctx,
		transId,
		amount,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// <Warning>
//
//	This endpoint is deprecated. Use it only to capture transactions originally authorized with the legacy [Authorize endpoint](/developers/api-reference/moneyin/authorize-a-transaction). New integrations should use the [Capture endpoint](/developers/api-reference/moneyinV2/capture-an-authorized-transaction), which only works on transactions authorized with the current [Authorize endpoint](/developers/api-reference/moneyinV2/authorize-a-transaction).
//
// </Warning>
//
// Capture an [authorized transaction](/developers/api-reference/moneyin/authorize-a-transaction) to complete the transaction and move funds from the customer to merchant account.
//
// You can use this endpoint to capture both full and partial amounts of the original authorized transaction. See [Capture an authorized transaction](/developers/developer-guides/pay-in-auth-and-capture) for more information about this endpoint.
//
// Example:
//
//	request := &payabli.CaptureRequest{
//	    PaymentDetails: &payabli.CapturePaymentDetails{
//	        TotalAmount: 1.1,
//	    },
//	}
//	client.MoneyIn.CaptureAuth(
//	    context.TODO(),
//	    "transId",
//	    request,
//	)
func (c *Client) CaptureAuth(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	request *payabli.CaptureRequest,
	opts ...option.RequestOption,
) (*payabli.CaptureResponse, error) {
	response, err := c.WithRawResponse.CaptureAuth(
		ctx,
		transId,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Make a temporary microdeposit in a customer account to verify the customer's ownership and access to the target account. Reverse the microdeposit with `reverseCredit`. Payabli doesn't automatically make microdeposits when you add a bank account, you must manually make the requests.
//
// This feature must be enabled by Payabli on a per-merchant basis. Contact support for help.
//
// Example:
//
//	request := &payabli.RequestCredit{
//	    IdempotencyKey: payabli.String(
//	        "6B29FC40-CA47-1067-B31D-00DD010662DA",
//	    ),
//	    CustomerData: &payabli.PayorDataRequest{
//	        BillingAddress1: payabli.String(
//	            "5127 Linkwood ave",
//	        ),
//	        CustomerNumber: payabli.String(
//	            "C-90010",
//	        ),
//	    },
//	    Entrypoint: payabli.String(
//	        "8cfec329267",
//	    ),
//	    PaymentDetails: &payabli.PaymentDetailCredit{
//	        ServiceFee: payabli.Float64(
//	            0,
//	        ),
//	        TotalAmount: 1,
//	    },
//	    PaymentMethod: &payabli.RequestCreditPaymentMethod{
//	        AchAccount: payabli.String(
//	            "88354454",
//	        ),
//	        AchAccountType: payabli.AchaccounttypeChecking.Ptr(),
//	        AchHolder: payabli.String(
//	            "John Smith",
//	        ),
//	        AchRouting: payabli.String(
//	            "021000021",
//	        ),
//	        Method: payabli.RequestCreditPaymentMethodMethodAch,
//	    },
//	}
//	client.MoneyIn.Credit(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Credit(
	ctx context.Context,
	request *payabli.RequestCredit,
	opts ...option.RequestOption,
) (*payabli.PayabliApiResponse0, error) {
	response, err := c.WithRawResponse.Credit(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve a processed transaction's details.
//
// Example:
//
//	client.MoneyIn.Details(
//	    context.TODO(),
//	    "45-as456777hhhhhhhhhh77777777-324",
//	)
func (c *Client) Details(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	opts ...option.RequestOption,
) (*payabli.TransactionQueryRecordsCustomer, error) {
	response, err := c.WithRawResponse.Details(
		ctx,
		transId,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// <Warning>
//
//	This endpoint is deprecated. New integrations should use the [Make a transaction endpoint](/developers/api-reference/moneyinV2/make-a-transaction) and manage the resulting transaction with the corresponding void or refund endpoints. Transactions created with this legacy endpoint must be managed with the legacy lifecycle endpoints — they aren't interchangeable with the current ones.
//
// </Warning>
//
// Make a single transaction. This method authorizes and captures a payment in one step.
//
// Example:
//
//	request := &payabli.RequestPayment{
//	    Body: &payabli.TransRequestBody{
//	        PaymentDetails: &payabli.PaymentDetail{
//	            TotalAmount: 1.1,
//	        },
//	        PaymentMethod: &payabli.PaymentMethod{
//	            PayMethodCredit: &payabli.PayMethodCredit{
//	                Cardexp: "cardexp",
//	                Cardnumber: "cardnumber",
//	                Method: payabli.PayMethodCreditMethodCard,
//	            },
//	        },
//	    },
//	}
//	client.MoneyIn.Getpaid(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Getpaid(
	ctx context.Context,
	request *payabli.RequestPayment,
	opts ...option.RequestOption,
) (*payabli.PayabliApiResponseGetPaid, error) {
	response, err := c.WithRawResponse.Getpaid(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// <Warning>
//
//	This endpoint is deprecated and only works on transactions created with the legacy endpoints. There's no equivalent in the current endpoints. For transactions created with [Make a transaction](/developers/api-reference/moneyinV2/make-a-transaction) or [Authorize](/developers/api-reference/moneyinV2/authorize-a-transaction), check the transaction's settlement status and call [Void](/developers/api-reference/moneyinV2/void-a-transaction) or [Refund](/developers/api-reference/moneyinV2/refund-a-settled-transaction) based on the result.
//
// </Warning>
//
// A reversal either refunds or voids a transaction independent of the transaction's settlement status. Send a reversal request for a transaction, and Payabli automatically determines whether it's a refund or void. You don't need to know whether the transaction is settled or not. This endpoint only works on transactions made with the legacy endpoints. For transactions made with the current endpoints, check the transaction's settlement status and call void or refund based on the result.
//
// Example:
//
//	client.MoneyIn.Reverse(
//	    context.TODO(),
//	    "transId",
//	    1.1,
//	)
func (c *Client) Reverse(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	// Amount to reverse from original transaction, minus any service fees charged on the original transaction.
	//
	// The amount provided can't be greater than the original total amount of the transaction, minus service fees. For example, if a transaction was $90 plus a $10 service fee, you can reverse up to $90.
	//
	// An amount equal to zero will refunds the total amount authorized minus any service fee.
	amount float64,
	opts ...option.RequestOption,
) (*payabli.ReverseResponse, error) {
	response, err := c.WithRawResponse.Reverse(
		ctx,
		transId,
		amount,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// <Warning>
//
//	This endpoint is deprecated. Use it only to refund transactions originally created with the legacy endpoints. New integrations should use the [Refund endpoint](/developers/api-reference/moneyinV2/refund-a-settled-transaction), which only works on transactions created with [Make a transaction](/developers/api-reference/moneyinV2/make-a-transaction) or [Authorize](/developers/api-reference/moneyinV2/authorize-a-transaction).
//
// </Warning>
//
// Refund a transaction that has settled and send money back to the account holder. If a transaction hasn't been settled, void it instead.
//
// Example:
//
//	client.MoneyIn.Refund(
//	    context.TODO(),
//	    "transId",
//	    1.1,
//	)
func (c *Client) Refund(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	// Amount to refund from original transaction, minus any service fees charged on the original transaction.
	//
	// The amount provided can't be greater than the original total amount of the transaction, minus service fees. For example, if a transaction was \$90 plus a \$10 service fee, you can refund up to \$90.
	//
	// An amount equal to zero will refund the total amount authorized minus any service fee.
	amount float64,
	opts ...option.RequestOption,
) (*payabli.RefundResponse, error) {
	response, err := c.WithRawResponse.Refund(
		ctx,
		transId,
		amount,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// <Warning>
//
//	This endpoint is deprecated. Use it only to refund transactions originally created with the legacy endpoints. To refund a split-funded transaction created with [Make a transaction](/developers/api-reference/moneyinV2/make-a-transaction) or [Authorize](/developers/api-reference/moneyinV2/authorize-a-transaction), use the [Refund endpoint](/developers/api-reference/moneyinV2/refund-a-settled-transaction) with split instructions in the request body.
//
// </Warning>
//
// Refunds a settled transaction with split instructions.
//
// Example:
//
//	request := &payabli.RequestRefund{}
//	client.MoneyIn.RefundWithInstructions(
//	    context.TODO(),
//	    "transId",
//	    request,
//	)
func (c *Client) RefundWithInstructions(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	request *payabli.RequestRefund,
	opts ...option.RequestOption,
) (*payabli.RefundWithInstructionsResponse, error) {
	response, err := c.WithRawResponse.RefundWithInstructions(
		ctx,
		transId,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Reverse microdeposits that are used to verify customer account ownership and access. The `transId` value is returned in the success response for the original credit transaction made with `api/MoneyIn/makecredit`.
//
// Example:
//
//	client.MoneyIn.ReverseCredit(
//	    context.TODO(),
//	    "45-as456777hhhhhhhhhh77777777-324",
//	)
func (c *Client) ReverseCredit(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	opts ...option.RequestOption,
) (*payabli.PayabliApiResponse, error) {
	response, err := c.WithRawResponse.ReverseCredit(
		ctx,
		transId,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Send a payment receipt for a transaction.
//
// Example:
//
//	request := &payabli.SendReceipt2TransRequest{
//	    Email: payabli.String(
//	        "example@email.com",
//	    ),
//	}
//	client.MoneyIn.SendReceipt2Trans(
//	    context.TODO(),
//	    "45-as456777hhhhhhhhhh77777777-324",
//	    request,
//	)
func (c *Client) SendReceipt2Trans(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	request *payabli.SendReceipt2TransRequest,
	opts ...option.RequestOption,
) (*payabli.ReceiptResponse, error) {
	response, err := c.WithRawResponse.SendReceipt2Trans(
		ctx,
		transId,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Validates a card number without running a transaction or authorizing a charge.
//
// Example:
//
//	request := &payabli.RequestPaymentValidate{
//	    IdempotencyKey: payabli.String(
//	        "6B29FC40-CA47-1067-B31D-00DD010662DA",
//	    ),
//	    EntryPoint: "8cfec329267",
//	    PaymentMethod: &payabli.RequestPaymentValidatePaymentMethod{
//	        Method: payabli.RequestPaymentValidatePaymentMethodMethodCard,
//	        Cardnumber: "4360000001000005",
//	        Cardexp: "12/29",
//	        Cardzip: "14602-8328",
//	        CardHolder: "Dianne Becker-Smith",
//	    },
//	}
//	client.MoneyIn.Validate(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Validate(
	ctx context.Context,
	request *payabli.RequestPaymentValidate,
	opts ...option.RequestOption,
) (*payabli.ValidateResponse, error) {
	response, err := c.WithRawResponse.Validate(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// <Warning>
//
//	This endpoint is deprecated. Use it only to void transactions originally created with the legacy endpoints. New integrations should use the [Void endpoint](/developers/api-reference/moneyinV2/void-a-transaction), which only works on transactions created with [Make a transaction](/developers/api-reference/moneyinV2/make-a-transaction) or [Authorize](/developers/api-reference/moneyinV2/authorize-a-transaction).
//
// </Warning>
//
// Cancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. If a transaction has been settled, refund it instead.
//
// Example:
//
//	client.MoneyIn.Void(
//	    context.TODO(),
//	    "transId",
//	)
func (c *Client) Void(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	opts ...option.RequestOption,
) (*payabli.VoidResponse, error) {
	response, err := c.WithRawResponse.Void(
		ctx,
		transId,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Make a single transaction. This method authorizes and captures a payment in one step. This is the v2 version of the `api/MoneyIn/getpaid` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.
//
// Example:
//
//	request := &payabli.RequestPaymentV2{
//	    Body: &payabli.TransRequestBody{
//	        CustomerData: &payabli.PayorDataRequest{
//	            CustomerId: payabli.Int64(
//	                int64(4440),
//	            ),
//	        },
//	        EntryPoint: payabli.String(
//	            "8cfec329267",
//	        ),
//	        Ipaddress: payabli.String(
//	            "255.255.255.255",
//	        ),
//	        PaymentDetails: &payabli.PaymentDetail{
//	            ServiceFee: payabli.Float64(
//	                0,
//	            ),
//	            TotalAmount: 100,
//	        },
//	        PaymentMethod: &payabli.PaymentMethod{
//	            PayMethodCredit: &payabli.PayMethodCredit{
//	                Cardcvv: payabli.String(
//	                    "999",
//	                ),
//	                Cardexp: "02/27",
//	                CardHolder: payabli.String(
//	                    "John Cassian",
//	                ),
//	                Cardnumber: "4111111111111111",
//	                Cardzip: payabli.String(
//	                    "12345",
//	                ),
//	                Initiator: payabli.String(
//	                    "payor",
//	                ),
//	                Method: payabli.PayMethodCreditMethodCard,
//	            },
//	        },
//	    },
//	}
//	client.MoneyIn.Getpaidv2(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Getpaidv2(
	ctx context.Context,
	request *payabli.RequestPaymentV2,
	opts ...option.RequestOption,
) (*payabli.V2TransactionResponseWrapper, error) {
	response, err := c.WithRawResponse.Getpaidv2(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Authorize a card transaction. This returns an authorization code and reserves funds for the merchant. Authorized transactions aren't flagged for settlement until captured. This is the v2 version of the `api/MoneyIn/authorize` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.
//
// **Note**: Only card transactions can be authorized. This endpoint can't be used for ACH transactions.
//
// Example:
//
//	request := &payabli.RequestPaymentAuthorizeV2{
//	    Body: &payabli.TransRequestBody{
//	        CustomerData: &payabli.PayorDataRequest{
//	            CustomerId: payabli.Int64(
//	                int64(4440),
//	            ),
//	        },
//	        EntryPoint: payabli.String(
//	            "8cfec329267",
//	        ),
//	        Ipaddress: payabli.String(
//	            "255.255.255.255",
//	        ),
//	        PaymentDetails: &payabli.PaymentDetail{
//	            ServiceFee: payabli.Float64(
//	                0,
//	            ),
//	            TotalAmount: 100,
//	        },
//	        PaymentMethod: &payabli.PaymentMethod{
//	            PayMethodCredit: &payabli.PayMethodCredit{
//	                Cardcvv: payabli.String(
//	                    "999",
//	                ),
//	                Cardexp: "02/27",
//	                CardHolder: payabli.String(
//	                    "John Cassian",
//	                ),
//	                Cardnumber: "4111111111111111",
//	                Cardzip: payabli.String(
//	                    "12345",
//	                ),
//	                Initiator: payabli.String(
//	                    "payor",
//	                ),
//	                Method: payabli.PayMethodCreditMethodCard,
//	            },
//	        },
//	    },
//	}
//	client.MoneyIn.Authorizev2(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Authorizev2(
	ctx context.Context,
	request *payabli.RequestPaymentAuthorizeV2,
	opts ...option.RequestOption,
) (*payabli.V2TransactionResponseWrapper, error) {
	response, err := c.WithRawResponse.Authorizev2(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Capture an authorized transaction to complete the transaction and move funds from the customer to merchant account. This is the v2 version of the `api/MoneyIn/capture/{transId}` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.
//
// Example:
//
//	request := &payabli.CaptureRequest{
//	    PaymentDetails: &payabli.CapturePaymentDetails{
//	        TotalAmount: 105,
//	        ServiceFee: payabli.Float64(
//	            5,
//	        ),
//	    },
//	}
//	client.MoneyIn.Capturev2(
//	    context.TODO(),
//	    "10-7d9cd67d-2d5d-4cd7-a1b7-72b8b201ec13",
//	    request,
//	)
func (c *Client) Capturev2(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	request *payabli.CaptureRequest,
	opts ...option.RequestOption,
) (*payabli.V2TransactionResponseWrapper, error) {
	response, err := c.WithRawResponse.Capturev2(
		ctx,
		transId,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Give a full refund for a transaction that has settled and send money back to the account holder. To perform a partial refund, see [Partially refund a transaction](/developers/api-reference/moneyinV2/partial-refund-a-settled-transaction).
//
// This is the v2 version of the refund endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.
//
// <Note>
//
//	To refund a split-funded transaction, include split instructions in the request body. Omit the body for a standard refund.
//
// </Note>
//
// Example:
//
//	client.MoneyIn.Refundv2(
//	    context.TODO(),
//	    "10-3ffa27df-b171-44e0-b251-e95fbfc7a723",
//	    nil,
//	)
func (c *Client) Refundv2(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	request *payabli.RefundV2Request,
	opts ...option.RequestOption,
) (*payabli.V2TransactionResponseWrapper, error) {
	response, err := c.WithRawResponse.Refundv2(
		ctx,
		transId,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Refund a transaction that has settled and send money back to the account holder. If `amount` is set to 0, performs a full refund. When a non-zero `amount` is provided, this endpoint performs a partial refund.
//
// This is the v2 version of the refund endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.
//
// <Note>
//
//	For a standard refund, whether full (`amount` set to 0) or partial, send no request body. Include a request body only to refund a split-funded transaction, with split instructions in `refundDetails`.
//
// </Note>
//
// Example:
//
//	client.MoneyIn.Refundv2Amount(
//	    context.TODO(),
//	    "10-3ffa27df-b171-44e0-b251-e95fbfc7a723",
//	    0,
//	    nil,
//	)
func (c *Client) Refundv2Amount(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	// Amount to refund from original transaction, minus any service fees charged on the original transaction. If set to 0, performs a full refund.
	amount float64,
	request *payabli.RefundV2Request,
	opts ...option.RequestOption,
) (*payabli.V2TransactionResponseWrapper, error) {
	response, err := c.WithRawResponse.Refundv2Amount(
		ctx,
		transId,
		amount,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Cancel a transaction that hasn't been settled yet. Voiding non-captured authorizations prevents future captures. This is the v2 version of the `api/MoneyIn/void/{transId}` endpoint, and returns the unified response format. See [Pay In unified response codes reference](/guides/pay-in-unified-response-codes-reference) for more information.
//
// Example:
//
//	client.MoneyIn.Voidv2(
//	    context.TODO(),
//	    "10-3ffa27df-b171-44e0-b251-e95fbfc7a723",
//	)
func (c *Client) Voidv2(
	ctx context.Context,
	// ReferenceId for the transaction (PaymentId).
	transId string,
	opts ...option.RequestOption,
) (*payabli.V2TransactionResponseWrapper, error) {
	response, err := c.WithRawResponse.Voidv2(
		ctx,
		transId,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
