// Code generated by Fern. DO NOT EDIT.

package statistic

import (
	context "context"
	payabli "github.com/payabli/sdk-go"
	core "github.com/payabli/sdk-go/core"
	internal "github.com/payabli/sdk-go/internal"
	option "github.com/payabli/sdk-go/option"
	http "net/http"
)

type RawClient struct {
	baseURL string
	caller  *internal.Caller
	options *core.RequestOptions
}

func NewRawClient(options *core.RequestOptions) *RawClient {
	return &RawClient{
		options: options,
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

func (r *RawClient) BasicStats(
	ctx context.Context,
	// Mode for the request. Allowed values:
	//
	// - `custom` - Allows you to set a custom date range
	// - `ytd` - Year To Date
	// - `mtd` - Month To Date
	// - `wtd` - Week To Date
	// - `today` - All current day
	// - `m12` - Last 12 months
	// - `d30` - Last 30 days
	// - `h24` - Last 24 hours
	// - `lasty` - Last Year
	// - `lastm` - Last Month
	// - `lastw` - Last Week
	// - `yesterday` - Last Day
	//
	mode string,
	// Frequency to group series. Allowed values:
	//
	// - `m` - monthly
	// - `w` - weekly
	// - `d` - daily
	// - `h` - hourly
	//
	// For example, `w` groups the results by week.
	freq string,
	// The entry level for the request:
	//   - 0 for Organization
	//   - 2 for Paypoint
	level int,
	// Identifier in Payabli for the entity.
	entryId int64,
	request *payabli.BasicStatsRequest,
	opts ...option.RequestOption,
) (*core.Response[[]*payabli.StatBasicExtendedQueryRecord], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api-sandbox.payabli.com/api",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/Statistic/basic/%v/%v/%v/%v",
		mode,
		freq,
		level,
		entryId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response []*payabli.StatBasicExtendedQueryRecord
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(payabli.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[[]*payabli.StatBasicExtendedQueryRecord]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) CustomerBasicStats(
	ctx context.Context,
	// Mode for request. Allowed values:
	//
	// - `ytd` - Year To Date
	// - `mtd` - Month To Date
	// - `wtd` - Week To Date
	// - `today` - All current day
	// - `m12` - Last 12 months
	// - `d30` - Last 30 days
	// - `h24` - Last 24 hours
	// - `lasty` - Last Year
	// - `lastm` - Last Month
	// - `lastw` - Last Week
	// - `yesterday` - Last Day
	mode string,
	// Frequency to group series. Allowed values:
	//
	// - `m` - monthly
	// - `w` - weekly
	// - `d` - daily
	// - `h` - hourly
	//
	// For example, `w` groups the results by week.
	freq string,
	// Payabli-generated customer ID. Maps to "Customer ID" column in PartnerHub.
	customerId int,
	request *payabli.CustomerBasicStatsRequest,
	opts ...option.RequestOption,
) (*core.Response[[]*payabli.SubscriptionStatsQueryRecord], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api-sandbox.payabli.com/api",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/Statistic/customerbasic/%v/%v/%v",
		mode,
		freq,
		customerId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response []*payabli.SubscriptionStatsQueryRecord
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(payabli.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[[]*payabli.SubscriptionStatsQueryRecord]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) SubStats(
	ctx context.Context,
	// Interval to get the data. Allowed values:
	//
	// - `all` - all intervals
	// - `30` - 1-30 days
	// - `60` - 31-60 days
	// - `90` - 61-90 days
	// - `plus` - +90 days
	interval string,
	// The entry level for the request:
	//   - 0 for Organization
	//   - 2 for Paypoint
	level int,
	// Identifier in Payabli for the entity.
	entryId int64,
	request *payabli.SubStatsRequest,
	opts ...option.RequestOption,
) (*core.Response[[]*payabli.StatBasicQueryRecord], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api-sandbox.payabli.com/api",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/Statistic/subscriptions/%v/%v/%v",
		interval,
		level,
		entryId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response []*payabli.StatBasicQueryRecord
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(payabli.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[[]*payabli.StatBasicQueryRecord]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) VendorBasicStats(
	ctx context.Context,
	// Mode for request. Allowed values:
	//
	// - `ytd` - Year To Date
	// - `mtd` - Month To Date
	// - `wtd` - Week To Date
	// - `today` - All current day
	// - `m12` - Last 12 months
	// - `d30` - Last 30 days
	// - `h24` - Last 24 hours
	// - `lasty` - Last Year
	// - `lastm` - Last Month
	// - `lastw` - Last Week
	// - `yesterday` - Last Day
	mode string,
	// Frequency to group series. Allowed values:
	//
	// - `m` - monthly
	// - `w` - weekly
	// - `d` - daily
	// - `h` - hourly
	//
	// For example, `w` groups the results by week.
	freq string,
	// Vendor ID.
	idVendor int,
	request *payabli.VendorBasicStatsRequest,
	opts ...option.RequestOption,
) (*core.Response[[]*payabli.StatisticsVendorQueryRecord], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api-sandbox.payabli.com/api",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/Statistic/vendorbasic/%v/%v/%v",
		mode,
		freq,
		idVendor,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		r.options.ToHeader(),
		options.ToHeader(),
	)
	var response []*payabli.StatisticsVendorQueryRecord
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[[]*payabli.StatisticsVendorQueryRecord]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}
