// Code generated by Fern. DO NOT EDIT.

package billing

import (
	context "context"
	http "net/http"

	payabli "github.com/payabli/sdk-go"
	core "github.com/payabli/sdk-go/core"
	internal "github.com/payabli/sdk-go/internal"
	option "github.com/payabli/sdk-go/option"
)

type RawClient struct {
	baseURL string
	caller  *internal.Caller
	options *core.RequestOptions
}

func NewRawClient(options *core.RequestOptions) *RawClient {
	return &RawClient{
		options: options,
		baseURL: options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

func (r *RawClient) ListProfiles(
	ctx context.Context,
	// The organization's numeric identifier.
	orgId int64,
	request *payabli.ListBillingProfilesRequest,
	opts ...option.RequestOption,
) (*core.Response[*payabli.BillingProfileQueryResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api-sandbox.payabli.com/api",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/billing/configuration/org/%v",
		orgId,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	authHeaders, authErr := r.options.AuthHeadersForEndpoint([][]string{{"BearerAuth"}, {"APIKeyAuth"}})
	if authErr != nil {
		return nil, authErr
	}
	headers := internal.MergeHeaders(
		internal.MergeHeaders(
			r.options.ToHeader(),
			options.ToHeader(),
		),
		authHeaders,
	)
	var response *payabli.BillingProfileQueryResponse
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(payabli.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*payabli.BillingProfileQueryResponse]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}

func (r *RawClient) GetProfile(
	ctx context.Context,
	// The billing vertical. Only `PayIn` and `PayOut` are accepted; any
	// other value returns `400 Bad Request`.
	serviceGroup *payabli.GetProfileBillingRequestServiceGroup,
	// The owning entity type: `Organization`, `Paypoint`, `Template`, or
	// `Application`.
	entityType *payabli.GetProfileBillingRequestEntityType,
	// The numeric identifier of the entity.
	entityId int64,
	opts ...option.RequestOption,
) (*core.Response[*payabli.BillingProfileResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		r.baseURL,
		"https://api-sandbox.payabli.com/api",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/billing/configuration/%v/%v/%v",
		serviceGroup,
		entityType,
		entityId,
	)
	authHeaders, authErr := r.options.AuthHeadersForEndpoint([][]string{{"BearerAuth"}, {"APIKeyAuth"}})
	if authErr != nil {
		return nil, authErr
	}
	headers := internal.MergeHeaders(
		internal.MergeHeaders(
			r.options.ToHeader(),
			options.ToHeader(),
		),
		authHeaders,
	)
	var response *payabli.BillingProfileResponse
	raw, err := r.caller.Call(
		ctx,
		&internal.CallParams{
			URL:             endpointURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        &response,
			ErrorDecoder:    internal.NewErrorDecoder(payabli.ErrorCodes),
		},
	)
	if err != nil {
		return nil, err
	}
	return &core.Response[*payabli.BillingProfileResponse]{
		StatusCode: raw.StatusCode,
		Header:     raw.Header,
		Body:       response,
	}, nil
}
